.about_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.about_content p {
  font-size: 1.3rem;
  /* font-size: clamp(0.9rem, 1.4vw, 1.1rem); */
  color: #f5f5f5;
  line-height: 1.3;
}