.footer_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_wrapper p{
  font-size: clamp(0.9rem, 1.4vw, 1.1rem);
  color: #f5f5f5;
}

.footer_wrapper > div{
  width: 48%;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 0.8rem;
  font-size: 1rem;
  /* border: 1px solid red; */
}

/* Left Part */
.iso-qr-brit{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.iso-qr-brit img{
  max-width: 120px;
 min-height: 120px;
}


/* Right Part */

#left_footer > div{
  display: flex;
  gap: 1rem;
  align-items: center;
}

#left_footer img{
  display: flex;
  justify-content:center;
  align-items:center;
}

.social_media i, .icmr-logo {
  font-size: 1.7rem;
  max-width: 1.7rem;
}

.playstore-logo img{
  width: 25px;
}

.icmr-logo img{
width: 100%;
border-radius: 50%;
}


#left_footer .fa-phone {
  color: grey;
  font-size: 1.4rem;
}

.fa-spotify {
  color: #1DB954;
}

.fa-youtube {
  color: #FF0000;
}

.fa-instagram {
  color:#8a3ab9;
}

.fa-facebook {
  color: #4267B2;
}

.fa-google-play {
  color: blue;
}

.about_map{
  width: 100%;
  height: 100%;
}

.about_map iframe{
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(66, 66, 66);
}

@media screen and (max-width: 890px) {
  .iso-qr-brit img{
  max-width: 100px;
  min-height: 100px;
}
}

@media screen and (max-width: 768px) {
  .footer_wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .footer_wrapper > div {
    width: 100%;
  }
}

@media screen and (max-width: 366px) {
  .iso-qr-brit{
    justify-content: center;
  }

  .iso-qr-brit img{
    max-width: 80px;
  min-height: 80px;
  }
}




/*
@media screen and (max-width: 900px) {
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #right_footer {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
  }
  
  #left_footer {
    border-left: 0;
    width: 100%;
  }
  .iso-qr-brit img{
    max-width: 135px;
    height: min(100%, 135px);
  }

  .about_map iframe{
    width: 100%;
    height: 200px;
  }
  #left_footer {
    padding: 0;
  }
}

@media screen and (max-width: 600px){
  .iso-qr-brit img{
    max-width: 120px;
    height: min(100%, 120px);
  }
  .about_map iframe{
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 414px){
.iso-qr-brit{ 
  justify-content:center;
}
.contact_wrapper{
  padding: 0 25px;
}
} */