.course_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 5px 5px #3d3d3d;
    border: 0;
    padding: 0 50px 10px 50px;
}
/* .course_wrapper {
    border: 1px solid #fff;
} */

 .course_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    gap: 60px;
}

.course_card img {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0.5);
}

@media screen and (max-width: 1300px) {
    .course_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .course_grid {
        grid-template-columns: 1fr;
    }
}