
footer {
  background-color: rgb(10, 10, 10);
  padding: 20px 50px 50px 50px;
  /* border: 1px solid red; */
}

.footer_wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  /* border: 1px solid #fff; */
}

#right_footer {
  /* padding: 0 20px; */
  width: 55%;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 20px;
  line-height: 1.3;
  font-size: 15px;
}

#left_footer {
  border-left: 1px solid rgba(255, 255, 255, 0.308);
  padding: 0 20px;
  color: #fff;
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#left_footer i {
  font-size: 30px;
}

#left_footer strong {
  display: inline-block;
  font-size: 16px;
}

#left_footer span {
  margin-left: 2%;
  font-size: 15px;
}

#left_footer #social_media {
  display: flex;
  gap: 20px;
}

#left_footer .fa-phone {
  color: grey;
  font-size: 20px;
}

.fa-spotify {
  color: green;
}

.fa-youtube {
  color: red;
}

.fa-google-play {
  color: blue;
}


@media screen and (max-width: 960px) {
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #right_footer {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
  }
  
  #left_footer {
    border-left: 0;
    width: 100%;
  }
}