nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 5px #3333337a;
  z-index: 999;
  background-color: #131313;
}

#nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.home_logo {
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 25px;
}

.home_logo img{
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}

#nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

/* .nav_items {
 background-color: #fff;
} */

.nav_links {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: 0 0 10px rgb(233, 229, 230)
}

.nav_links:hover {
  color: #9518fc;
}

@media screen and (max-width: 960px) {
  #nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  #nav_menu {
    display: grid;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -800px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  #nav_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 36vh;
  }

  .nav_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .nav_items {
    width: 25%;
    margin:auto;
  }

  .nav_links {
    text-align: center;
    width: 100%;
    display: table;
  }

  #menu-bar {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .nav_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #menu-bar.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #menu-bar.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #menu-bar.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}