.review_content {
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
    padding-bottom: 10px;
}

.elfsight-app-d0ab6606-2d70-4147-b0ea-96e5e1464df8 {
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50px)
}

@media screen and (max-width:414px){
    .review_section{
        padding: 0 25px;
    }
}