* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px)
}

main{
  background-color: #131313;
}

main .home_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px #3d3d3d;
  border: 0;
  padding: 0 50px 10px 50px;
}

/* Home section */
.home_wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem 1rem;
  /* border: 1px solid #fff; */
}

.home_logo_img {
  margin-top: 50px;
}

.home_logo_img img {
  max-width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Chat Section */
#whatsapp {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 9;
}

.fa-whatsapp {
  font-size: 50px;
  color: green;
}