*{
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-color: #131313;
}

.course-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 0 35px;
}

.course-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:18px;
}

.course-page ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#emi p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

h3{ 
    margin-left: 25px;
}

@media screen and (max-width:400px){
    .course-page{
        font-size:16px;
    }
    .course-page-container{
        padding: 0 40px 0 20px;
    }
    #emi p{
        font-size: 16px;
    }
}

